<div class="form-create">
	<form name="create-user-form" id="create-user-form" method="post">
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input type="text" id="firstName" name="firstName" value="{{input.firstName}}" required />
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input type="text" id="lastName" name="lastName" value="{{input.lastName}}" required />
		</div>
		<div class="form-group">
			<label for="age">Age</label>
			<input type="text" id="age" name="age" value="{{input.age}}" required />
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" id="email" name="email" value="{{input.email}}" required />
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" id="password" name="password" autocomplete="off" value="{{input.password}}" required />
		</div>
		<div class="form-submit">
			<input type="submit" value="Create my account" />
		</div>
		<div class="">
			or <a href="/">Back to Index</a>
		</div>
		<span style="color: red;">{{error}}</span>
	</form>
</div>